<div class="container-fluid d-flex">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4 col-12 d-flex justify-content-center flex-column">
      <div class="row">
        <h1 class="h1-main pb-3">Generate Surveys in Minutes</h1>
      </div>
      <div class="row">
        <h2>Create surveys that people want to answer, get more responses and cleaner insights.</h2>
      </div>
      <div class="row">
        <div class="col-6">
          <button mat-raised-button color="primary" [routerLink]="['register']">Get Started - It's free</button>
        </div>

      </div>
    </div>
    <div class="col-md-8 col-12">
      <div class="image d-flex justify-content-center">
        <img src="./../../../../assets/img/home-landing.jpg" class="w-100" alt="">
      </div>
    </div>
  </div>

</div>

