.h1-main {
  font-family: 'Oswald',
    sans-serif;
  font-size: 2rem;
}
.question {
  display: flex;
  flex-direction: column;

  label {
    margin: 20px 0;
    font-size: 1.3rem;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .radio-button {
      margin: 10px 0;
    }
  }
}
.header {
  border-bottom: 1px solid #e9e9e9;
}